<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">

    <style>
        .user-div {
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }

        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>

<body>
    <div class="user-div">
        <fieldset class="table-search-fieldset">
            <legend>搜索</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户职业</label>
                            <div class="layui-input-inline">
                                <input type="text" name="classify" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button id="user-search" type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                        <div class="layui-inline">
                            <button  id="user-reset" type="reset" class="layui-btn layui-btn-primary"
                                     lay-filter="user-reset-btn"><i class="layui-icon layui-icon-fonts-clear"></i> 重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="ID-table-demo-page" lay-filter="table-user-filter"></table>
    </div>
</body>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
    </div>
</script>

<script type="text/html" id="delete-update">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
<script th:inline="javascript">

    function refreshTable() {
        $("#user-reset").click();
        $("#user-search").click();
    }

    layui.use('table', function(){
        var ctxPath = [[@{/}]];

        var table = layui.table;

        var form = layui.form;

        // 创建渲染实例
        table.render({
            elem: '#ID-table-demo-page'
            ,url: ctxPath+'user/list' // 此处为静态模拟数据，实际使用时需换成真实接口
            ,toolbar: '#toolbarDemo'
            ,width: 550
            ,limits: [1,3,5,7,9]
            ,page: { // 支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
            }
            ,pagebar: '#ID-table-demo-page-pagebar' // 分页栏模板
            ,cols: [ [
                {type: "checkbox",width: 80}
                ,{field:'id', width:80, title: 'ID', sort: true}
                ,{field:'username', width:180, title: '用户名'}
                ,{field:'chName', width:80, title: '中文名'}
                ,{title: '操作', minWidth: 150, toolbar: '#delete-update',align: 'center'}
            ] ]
        });
        // 渲染分页列表
        form.on('submit(data-search-btn)', function(data){
            var field = data.field; // 获取表单全部字段值
            console.log(field);
            table.reload('ID-table-demo-page', {
                where: { // 传递数据异步请求时携带的字段
                    name: data.field.username,
                    chName: data.field.classify
                },
            });
            return false; // 阻止默认 form 跳转
        });
        table.on('toolbar(table-user-filter)', function(obj){
            var checkStatus = table.checkStatus('ID-table-demo-page'); //idTest 即为基础参数 id 对应的值
            // 判断是否选中为空
            if (checkStatus.data.length == 0) {
                layer.alert("没有选中任何数据",{icon:2,anim:6,title: "提示"})
                return false;
            }
            console.log(checkStatus.data) //获取选中行的数据

            if (obj.event === 'delete') {
                // 转换数据 为_,_
                var array = new Array();
                $(checkStatus.data).each(function () {
                    array.push(this.id);
                })
                console.log(array.join(','));

                //异步请求删除数据
                var url = ctxPath +"user/delete/" + array.join(',');
                // 说明请求方式
                var param = {
                    _method: "DELETE"
                }
                $.post(url,param,function (response){
                    if(response.code === 0) {
                        layer.msg(response.message,{icon: 1 ,title: "提示"})
                        // 刷新表单
                        refreshTable();
                    }
                    //刷新表格
                    else {
                        layer.msg('出错了', {icon: 6});
                    }
                })
            }
            return false;
        });

        table.on('tool(table-user-filter)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            console.log(data,layEvent)

            // 分开操作
            if(layEvent === 'del'){ // 删除
                //do something
                layer.confirm('真的删除用户'+data.username, function(index){
                    // 数据处理
                    // 向服务端发送删除指令
                    var url = ctxPath +"user/delete/" + data.id;
                    // 说明请求方式
                    var param = {
                        _method: "DELETE"
                    }
                    $.post(url,param,function (response){
                        if(response.code === 0) {
                            layer.msg(response.message,{icon: 1 ,title: "提示"})
                            // 刷新表单
                            refreshTable();
                        }
                        //刷新表格
                        else {
                            layer.msg('出错了', {icon: 6});
                        }
                    })
                });
            } else if(layEvent === 'edit') { //修改
                layer.open({
                    type: 2,
                    title: '修改员工',
                    shadeClose: true,
                    shade: 0.4,
                    area: ['50%', '80%'],
                    content: ctxPath+'user/'+data.id // iframe 的 url
                });
            }
        });
    });
</script>
</html>