<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">

    <style>
        body {
            padding: 20px;
        }
    </style>
</head>

<body>
<form class="layui-form layui-form-pane" action="" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <div class="layui-form-item">
        <label class="layui-form-label">员工姓名</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{username}" required="required" autocomplete="off" placeholder="请输入姓名" lay-verify="required" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">中文名</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{chName}" required="required" autocomplete="off" placeholder="请输入姓名" lay-verify="required" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <button id="confirm-btn" class="layui-btn" lay-submit lay-filter="btn-submit-filter">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</form>

<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">
    layui.use(function () {
        var laydate = layui.laydate;

        var ctxPath = [[@{/}]];

        var form = layui.form;

        var $ = layui.$;

        // 提交事件
        form.on('submit(btn-submit-filter)', function(data){
            var field = data.field; // 获取表单全部字段值
            // disable 提交按钮
            $("#confirm-btn").attr("disabled","disabled").addClass("layui-btn-disabled");
            console.log(field)
            var url = ctxPath + "user/update";
            field._method = "PUT";
            $.post(url,field,function (response) {
                if (response.code === 0) {
                    //成功提示
                    layer.msg(response.message, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        //刷新表格
                        parent.refreshTable();
                        //关闭窗口
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    });
                }else {
                    layer.msg("添加失败", {
                        icon: 2,
                        time: 1000,//2秒关闭（如果不配置，默认是3秒）
                        anim: 6
                    })
                    $("#confirm-btn").removeAttr("disabled","disabled").removeClass("layui-btn-disabled");
                }
            })
            //异步请求提交数据
            //提交成功关闭窗口，并刷新数据
            // 失败弹出错误信息，窗口不关闭
            return false; // 阻止默认 form 跳转
        });
    });

</script>
</body>
</html>