<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>部门管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
        .div-dept {
            background-color: white;
            border-radius: 5px;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="div-dept">
        <fieldset class="table-search-fieldset">
            <legend>搜索条件</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="" id="emp-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">部门编号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="deptId" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">部门名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="deptName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button id="emp-search" type="submit" class="layui-btn layui-btn-primary" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                        <div class="layui-inline">
                            <button id="emp-reset" type="reset" class="layui-btn layui-btn-primary" lay-filter="data-reset-btn"><i class="layui-icon layui-icon-fonts-clear"></i> 重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table id="id-dept" lay-filter="table-dept"></table>
    </div>
</body>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>

<script type="text/html" id="delete-update">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
<script th:inline="javascript">
    function refreshTable() {
        $("#emp-reset").click();
        $("#emp-search").click();
    }

    layui.use('table', function(){
        var ctxPath = [[@{/}]];

        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#id-dept'
            ,width: 600
            ,toolbar: '#toolbarDemo'
            ,url: 'dept/list' //数据接口
            ,page: true //开启分页
            ,cols: [ [ //表头
                {field: 'deptId', title: '部门编号', width:150, sort: true, fixed: 'left'}
                ,{field: 'deptName', title: '部门名', width:150}
                ,{title: '操作', minWidth: 150, toolbar: '#delete-update',align: 'center'}
                ,{type: "checkbox",width: 80}
            ] ]
        });
        //多选删除以及添加
        table.on('toolbar(table-dept)', function(obj){
            // 根据不同的事件名进行相应的操作
            switch(obj.event){ // 对应模板元素中的 lay-event 属性值
                case 'add':
                    layer.open({
                        type: 2,
                        title: '新增员工',
                        shadeClose: true,
                        shade: 0.4,
                        area: ['50%', '80%'],
                        content: ctxPath+'dept/add' // iframe 的 url
                    });
                    break;
                case 'delete':
                    var checkStatus = table.checkStatus('ID-table-demo-page'); //idTest 即为基础参数 id 对应的值
                    // 判断是否选中为空
                    if (checkStatus.data.length == 0) {
                        layer.alert("没有选中任何数据",{icon:2,anim:6,title: "提示"})
                        break;
                    }
                    console.log(checkStatus.data) //获取选中行的数据
                    // 转换数据 为_,_
                    var array = new Array();
                    $(checkStatus.data).each(function () {
                        array.push(this.empId);
                    })
                    console.log(array.join(','));
                    //异步请求删除数据
                    var url = ctxPath +"dept/" + array.join(',');
                    // 说明请求方式
                    var param = {
                        _method: "DELETE"
                    }
                    $.post(url,param,function (response){
                        if(response.code === 0) {
                            layer.msg(response.message,{icon: 1 ,title: "提示"})
                            refreshTable();
                        }
                        //刷新表格
                        else {
                            layer.msg('出错了', {icon: 6});
                        }
                    })
                    break;
                case 'update':
                    layer.alert("更新");
                    break;
            };
        });

        table.on('tool(table-dept)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            console.log(data,layEvent)

            // 分开操作
            if(layEvent === 'del'){ // 删除
                //do something
                layer.confirm('真的删除用户'+data.username, function(index){
                    // 数据处理
                    // 向服务端发送删除指令
                    var url = ctxPath +"dept/delete/" + data.id;
                    // 说明请求方式
                    var param = {
                        _method: "DELETE"
                    }
                    $.post(url,param,function (response){
                        if(response.code === 0) {
                            layer.msg(response.message,{icon: 1 ,title: "提示"})
                            // 刷新表单
                            refreshTable();
                        }
                        //刷新表格
                        else {
                            layer.msg('出错了', {icon: 6});
                        }
                    })
                });
            } else if(layEvent === 'edit') { //修改
                layer.open({
                    type: 2,
                    title: '修改员工',
                    shadeClose: true,
                    shade: 0.4,
                    area: ['50%', '80%'],
                    content: ctxPath+'dept/'+data.id // iframe 的 url
                });
            }
        });
    });
</script>
</html>