<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moonykun.demo.mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="com.moonykun.demo.domain.Emp">
            <id property="empId" column="emp_id" jdbcType="INTEGER"/>
            <id property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="sal" column="sal" jdbcType="DECIMAL"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        emp_id,birthday,name,
        sex,age,sal,
        address,dept_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from emp
        where  emp_id = #{empId,jdbcType=INTEGER} AND birthday = #{birthday,jdbcType=DATE} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from emp
        where  emp_id = #{empId,jdbcType=INTEGER} AND birthday = #{birthday,jdbcType=DATE} 
    </delete>
    <insert id="insert">
        insert into emp
        ( emp_id,birthday,name
        ,sex,age,sal
        ,address,dept_id)
        values (#{empId,jdbcType=INTEGER},#{birthday,jdbcType=DATE},#{name,jdbcType=VARCHAR}
        ,#{sex,jdbcType=VARCHAR},#{age,jdbcType=INTEGER},#{sal,jdbcType=DECIMAL}
        ,#{address,jdbcType=VARCHAR},#{deptId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective">
        insert into emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="empId != null">emp_id,</if>
                <if test="birthday != null">birthday,</if>
                <if test="name != null">name,</if>
                <if test="sex != null">sex,</if>
                <if test="age != null">age,</if>
                <if test="sal != null">sal,</if>
                <if test="address != null">address,</if>
                <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="empId != null">#{empId,jdbcType=INTEGER},</if>
                <if test="birthday != null">#{birthday,jdbcType=DATE},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="sex != null">#{sex,jdbcType=VARCHAR},</if>
                <if test="age != null">#{age,jdbcType=INTEGER},</if>
                <if test="sal != null">#{sal,jdbcType=DECIMAL},</if>
                <if test="address != null">#{address,jdbcType=VARCHAR},</if>
                <if test="deptId != null">#{deptId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.moonykun.demo.domain.Emp">
        update emp
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    sex = #{sex,jdbcType=VARCHAR},
                </if>
                <if test="age != null">
                    age = #{age,jdbcType=INTEGER},
                </if>
                <if test="sal != null">
                    sal = #{sal,jdbcType=DECIMAL},
                </if>
                <if test="address != null">
                    address = #{address,jdbcType=VARCHAR},
                </if>
                <if test="deptId != null">
                    dept_id = #{deptId,jdbcType=INTEGER},
                </if>
        </set>
        where   emp_id = #{empId,jdbcType=INTEGER} AND birthday = #{birthday,jdbcType=DATE} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.moonykun.demo.domain.Emp">
        update emp
        set 
            name =  #{name,jdbcType=VARCHAR},
            sex =  #{sex,jdbcType=VARCHAR},
            age =  #{age,jdbcType=INTEGER},
            sal =  #{sal,jdbcType=DECIMAL},
            address =  #{address,jdbcType=VARCHAR},
            dept_id =  #{deptId,jdbcType=INTEGER}
        where   emp_id = #{empId,jdbcType=INTEGER} AND birthday = #{birthday,jdbcType=DATE} 
    </update>
</mapper>
